#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.frame {
  width: min(393px, 100vw);
  height: 830px; /* Iphone 15 */
  border: 2px solid #5b21b6;
  border-radius: 0.5em;
  overflow: auto;
}