#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.frame {
  width: min(393px, 100vw);
  height: 830px; /* Iphone 15 */
  border: 1px solid slateblue;
  border-radius: 0.5em;
}

.device {
  width: 700px;
  height: 450px;
  border: 1px solid slateblue;
  border-radius: 0.5em;
}